body {
    background-color: cornflowerblue;
    padding: 5%;
    margin: 0;
    font-family: Tahoma;
}

header h1.title {
  text-align: end;
}

header ul {
    background-color: darkslategrey;
    padding: 0;
}

header ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

header ul li a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    padding: 2%;
    display: inline-block;
}

footer ul {
  background-color: darkslategrey;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

footer ul li a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active header {
    background-color: rgba(19, 243, 243, 0.479);
}

.content {
    background-color: whitesmoke;
    padding: 5%;
}

.clip-frame {
    border: 0;
}

.row-expansion {
    background-color: rgb(164, 168, 172);
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}
