body {
    background-color: cornflowerblue;
    padding: 5%;
    margin: 0;
    font-family: Tahoma;
}

header h1 {
    text-align: end;
}
header ul {
    background-color: darkslategrey;
    padding: 0;
}

header ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

header ul li a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    padding: 2%;
    display: inline-block;
}

.active {
    background-color: rgba(19, 243, 243, 0.479);
}

.content {
    background-color: whitesmoke;
    padding: 5%;
}